<section class="relative">
    <div class="fixed bottom-0 right-0 m-4" style="display: none;">
		<a
			class="bg-green-500 text-white p-2 rounded"
			href="mailto:elang.209@gmail.com"
			target="_blank"
			rel="noopener"
		>
			Contact Us
		</a>
	</div>
</section>
