---
import { Icon } from 'astro-icon';


const items = [
	{
		title: 'Planq',
		description:
			'',
		icon: 'planq',
		Link: 'https://indonode.net/mainnet/planq',
	},
	{
		title: 'Lambda',
		description:
			'',
		icon: 'lambda',
		Link: 'https://indonode.net/mainnet/lambda',
	},
	{
		title: 'Acre',
		description:
			'',
		icon: 'acre',
		Link: 'https://indonode.net/mainnet/acre',
	},
	{
		title: 'Point Network',
		description:
			'',
		icon: 'point',
		Link: 'https://indonode.net/mainnet/point',
	},
	{
		title: '8Ball',
		description:
			'',
		icon: '8ball',
		Link: 'https://indonode.net/mainnet/8ball',
	},
	{
		title: 'Arkhadian',
		description:
			'',
		icon: 'arkhadian',
		Link: 'https://indonode.net/mainnet/arkhadian',
	},
	{
		title: 'Lumenx',
		description:
			'',
		icon: 'lumenx',
		Link: 'https://indonode.net/mainnet/lumenx',
	},
];
---

<section class="scroll-mt-16" id="features2">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Mainnet
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					Stake your tokens with us and earn passive income every day
				</p>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-center my-12 dark:text-white">
				{
					items.map(({ title, description, icon , Link }) => (
					<div class="relative flex flex-col p-6 bg-gray dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800 text-center">
    <a href={Link}>
        <Icon name={icon} class="w-12 h-12 mx-auto my-4 cursor-pointer transition duration-200 ease-in-out transform hover:scale-150" />
    </a>
    <p class="text-black dark:text-black text-md font-semibold mt-2 relative">
        {title}
        <span class="pulse-shockwave inline-block ml-2"></span>
    </p>
</div>

					))
				}
			</div>
		</div>
	</div>
</section>

<style>
.pulse-shockwave {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #48df48;
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0 0 rgba(0, 128, 0, 0.7);
  }
  70% {
    transform: scale(1.5);
    opacity: 0;
    box-shadow: 0 0 0 10px rgba(0, 128, 0, 0);
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
    box-shadow: 0 0 0 10px rgba(0, 128, 0, 0);
  }
}

</style>
