---
import { Icon } from 'astro-icon';
const items = [
	{
		title: 'Andromeda',
		description:
			'testnet',
		icon: 'andromeda',
		Link: 'https://indonode.net/testnet/andromeda',
	},
	{
		title: 'Blockxnet',
		description:
			'testnet',
		icon: 'blockx',
		Link: 'https://indonode.net/testnet/blockxnet',
	},
	{
		title: 'Celestia',
		description:
			'testnet',
		icon: 'celestia',
		Link: 'https://indonode.net/testnet/celestia',
	},
	{
		title: 'Ojo',
		description:
			'testnet',
		icon: 'ojo',
		Link: 'https://indonode.net/testnet/ojo',
	},
	{
		title: 'Dymension',
		description:
			'testnet',
		icon: 'dymension',
		Link: 'https://indonode.net/testnet/dymension',
	},
	{
		title: 'Gitopia',
		description:
			'testnet',
		icon: 'gitopia',
		Link: 'https://indonode.net/testnet/gitopia',
	},
	{
		title: 'Human',
		description:
			'testnet-1',
		icon: 'human',
		Link: 'https://indonode.net/testnet/human',
	},
	{
		title: 'Bonus Block',
		description:
			'testnet',
		icon: 'bonus',
		Link: 'https://indonode.net/testnet/bonus-block',
	},
	{
		title: 'Nibiru',
		description:
			'testnet',
		icon: 'nibiru',
		Link: 'https://indonode.net/testnet/nibiru',
	},
	{
		title: 'Nolus',
		description:
			'nolus-rila',
		icon: 'nolus',
		Link: 'https://indonode.net/testnet/nolus',
	},
	{
		title: 'Nois',
		description:
			'testnet',
		icon: 'nois',
		Link: 'https://indonode.net/testnet/nois',
	},
	{
		title: 'Defund',
		description:
			'testnet',
		icon: 'defund',
		Link: 'https://indonode.net/testnet/defund',
	},
	{
		title: 'Elys',
		description:
			'testnet',
		icon: 'elys',
		Link: 'https://indonode.net/testnet/elys',
	},
	{
		title: 'Terp',
		description:
			'testnet',
		icon: 'terp',
		Link: 'https://indonode.net/testnet/terp',
	},
	{
		title: 'Cascadia',
		description:
			'testnet',
		icon: 'cascadia',
		Link: 'https://indonode.net/testnet/cascadia',
	},
	{
		title: 'Composable',
		description:
			'testnet',
		icon: 'composable',
		Link: 'https://indonode.net/testnet/composable',
	},
];
---

<section class="scroll-mt-16" id="feature3">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<!-- <p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Components</p> -->
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Testnet
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					Indonode Supports Testnets and Early Launching projects
				</p>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-center my-12 dark:text-white">
				{
					items.map(({ title, icon , Link }) => (
						<div class="relative flex flex-col p-6 bg-gray dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
							<a href={Link}>
								<Icon name={icon} class="w-12 h-12 mx-auto my-4 cursor-pointer transition duration-200 ease-in-out transform hover:scale-150" />
							</a>
							<p class="text-black dark:text-black text-md items-center font font-semibold text-center">
								{title}
								<span class="pulse-shockwave inline-block ml-2"></span>
								</p>
						</div>
					))
				}
			</div>
			</div>
						</div>
</section>


<style>
	.pulse-shockwave {
	  display: inline-block;
	  width: 8px;
	  height: 8px;
	  border-radius: 50%;
	  background-color: #48df48;
	  animation: pulse 2s linear infinite;
	}
	
	@keyframes pulse {
	  0% {
		transform: scale(1);
		opacity: 1;
		box-shadow: 0 0 0 0 rgba(0, 128, 0, 0.7);
	  }
	  70% {
		transform: scale(1.5);
		opacity: 0;
		box-shadow: 0 0 0 10px rgba(0, 128, 0, 0);
	  }
	  100% {
		transform: scale(1.5);
		opacity: 0;
		box-shadow: 0 0 0 10px rgba(0, 128, 0, 0);
	  }
	}
	
	</style>